build:
  image: clickable/ci-16.04-armhf
  except:
    - tags
  script:
    - clickable --output ./build clean build
  artifacts:
    paths:
      - build/*.click
    expire_in: 1 week

build64:
  image: clickable/ci-16.04-arm64
  except:
    - tags
  script:
    - clickable --output ./build64 clean build
  artifacts:
    paths:
      - build64/*.click
    expire_in: 1 week

publish:
  image: clickable/ci-16.04-armhf
  only:
    - tags
  script:
    - clickable --output ./build clean build
    - clickable publish "$CI_COMMIT_MESSAGE"
  artifacts:
    paths:
      - build/*.click
    expire_in: 1 week

publish64:
  image: clickable/ci-16.04-arm64
  only:
    - tags
  script:
    - clickable --output ./build64 clean build
    - clickable publish "$CI_COMMIT_MESSAGE"
  artifacts:
    paths:
      - build64/*.click
    expire_in: 1 week
